#periodic-table {
  border-collapse: collapse;
}

#periodic-table th,
#periodic-table td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

#periodic-table th {
  background-color: #cccccc;
}

.element {
  position: relative;
  cursor: pointer;
}

.element:hover:after {
  content: attr(data-symbol);
  position: absolute;
  top: -20px;
  left: 0;
